@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;800&display=swap');

.weather-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

main {
    flex-grow: 1;
    text-align: center;
    padding: 25px;
}

footer {
    padding: 2px;
    min-height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #eeeeee;
    font-size: small;
    text-align: center;
}
